<section>
    <form>
        <label>Title: <input type="text" [(ngModel)]="movieForm.title" name="title"></label>
        <label>Description: <input type="text" [(ngModel)]="movieForm.desc" name="description"></label>
        <label>Year of Release: <input type="date" [(ngModel)]="movieForm.year" name="yearOfRelease"></label>
        <label>Rating: <input type="number" min="0" max="5" [(ngModel)]="movieForm.rating" name="rating"></label>
        <button (click)="addMovie($event)">Add Movie</button>
    </form>
</section>
<hr>
<app-movielist [movies]="movies"></app-movielist>